<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="form-control">
                                <input type="text" name="city">
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                   
                    <div class="box">
                        <div style=" background-color: skyblue">
                        <h1><b> Weather in  {{ city_weather.city }}</b></h1>
                                    <div style="height: 50%;width: 50%">
                                    <img src="https://openweathermap.org/img/wn/{{ city_weather.icon }}.png" alt="Image">
                                    </div>
                                <b>{{ city_weather.temperature }} °C {{ city_weather.description }}</b><hr>
                        </div>
                                        <p>Wind : {{ city_weather.Wind }}</p>
                                        <p>Pressure : {{ city_weather.Pressure }} </p>
                                        <p>Humidity : {{ city_weather.Humidity }}</p>
                                        <p>Sunrise : {{ city_weather.Sunrise }} </p>
                                        <p>Sunset : {{ city_weather.Sunset }}</p>
                                        <p>Geo Location  : {{ city_weather.Lon }} , {{ city_weather.Lat }}</p>
                                        <p>Wind : {{ city_weather.Wind }}</p>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>