{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <!-- Bootstrap CSS File -->
  <link href="{% static '/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>



<body>
    <section class="hero is-info">
        <div class="hero-body">
                <h1 class="title" style="text-align: center">
                    Django Weather App
                </h1>
        </div>
    </section>
<div style="position:center;padding-top: 5%;padding-left:37%;max-width: 63%">

  <form action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" name="city" class="form-control" >
    </div>
    <div >
     <button class="btn btn-info btn-lg btn-block"  type="submit">Seacrh a City</button>
    </div>
  </form>
</div>
    
    <section class="section">
        <div class="container">
            <div class="columns">
                
                <div class="column is-offset-4 is-4">
                    {% if city_weather.name == 'index' %}
                        <h2>Search The Weather at Your place!</h3>
                    {% elif city_weather.cod == '404' %}
                            <h5>Please Enter a valid City Name</h5>
                    {% elif city_weather.cod == '400' %}
                            <h5>Please Enter a valid City Name</h5>
                    {% else %}
                        
                    <div class="box">
                        <hr>
                        <h3 style="text-align: center;"><b> Weather in  {{ city_weather.city }}</b></h3>
                                    <div style="height: 50%;width: 50%">
                                    <img src="https://openweathermap.org/img/wn/{{ city_weather.icon }}.png" alt="Image">
                                    </div>
                        
                                <b>{{ city_weather.temperature }} °C<br> {{ city_weather.description }}</b>
                        <hr>
                                        <p>Wind : {{ city_weather.Wind }}</p>
                                        <p>Pressure : {{ city_weather.Pressure }} </p>
                                        <p>Humidity : {{ city_weather.Humidity }}</p>
                                        <!-- <p>Sunrise : {{ city_weather.Sunrise }} </p>
                                        <p>Sunset : {{ city_weather.Sunset }}</p> -->
                                        <p>Geo Location  : {{ city_weather.Lon }}° , {{ city_weather.Lat }}°</p>
                                        
                                    </p>
                               
                        </div>
                        </article>
                        
                    
                        {% endif %}
                    </div>
                    
                </div>
                

            </div>

        </div>
    </section>
    
    
    
     
    
</body>

</html>